.navbar-special{
    background-color: rgba(32,33,36,1)!important;
}

.navbar-special .navbar-brand {
    color: rgb(255, 255, 255);
}

.navbar-special .navbar-nav-special .nav-item-special .nav-link-special{
    color: rgb(255, 255, 255);
}

.dropdown-special{
    background-color: rgba(32,33,36,1);
}

.dropdown-item-special{
    color: rgb(255,255,255);
}

.btn-outline-special{
    color: rgb(255,255,255);
    border-color: rgb(255,255,255);
}

