.navbar-special{
    background-color: rgba(32,33,36,1)!important;
}

.navbar-special .navbar-brand {
    color: rgb(255, 255, 255);
}

.navbar-special .navbar-nav-special .nav-item-special .nav-link-special{
    color: rgb(255, 255, 255);
}

.dropdown-special{
    background-color: rgba(32,33,36,1);
}

.dropdown-item-special{
    color: rgb(255,255,255);
}

.btn-outline-special{
    color: rgb(255,255,255);
    border-color: rgb(255,255,255);
}

.container-header{
    display: block;
    height: 100px;
    text-align: center;
}

.header-name{
    margin-top: 50px;
    margin-bottom: 30px;
}


.background-container{
    background-image: url(https://images2.alphacoders.com/611/611981.jpg);
    background-attachment: fixed;
    height: 300px;
    background-position: 50% 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    display: block;
    height: 300px;
    text-align: center;
}

.header-about{
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    font-size: 40px;
    animation-delay: .75s;
    text-align: center;
}

.header-bar{
    height: 4px;
    width: 300px;
    background-color: black;
    animation-delay: 1.5s;
    margin: 0 auto;
}

.animated{
    animation-duration: 1.25s;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-name: slideinLeft;
}

.waypoint{
    opacity: 0;
}

@media only screen and (min-width: 1024px){
.row-container {
    width: 1040px;
}
}

.row-container{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.text-main{
    width: 40%;
    margin-right: 5%;
}
.image-main{
    width: 50%;
}

.image-main img{
    max-width: 100%;
}




@keyframes slideinLeft {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

